<div class="float-right">
	<small>
		Your Cart: 
		<span *ngIf="cart.itemCount==0">
			(empty)
		</span>

		<span *ngIf="cart.itemCount>0">
			{{cart.itemCount}} item(s) {{cart.cartPrice | currency:"USD":"symbol":"2.2-2"}}
		</span>
	</small>
	<button class="btn btn-sm bg-dark text-white" routerLink="/checkout" [disabled]="cart.itemCount==0"> <!-- routerLink attribute is used to add a route when user click on this button. Since we have mapped /checkout to CheckoutComponent, the browser will be redirected to that component -->
		<i class="fa fa-shopping-cart"></i>
	</button>
</div>